body {
	background: url(background-white.jpg) center;
	background-size: cover;
	margin: 0;
}

.header__container {
	display: flex;
	padding-bottom: 30px;
}

.header__logo {
	margin: 30px 40% 30px 10%;
	width: 35%;
	height: 80px;
	background-image: url(images/logo.jpg);
	margin-bottom: 0;
}

.header__title {
	margin: 30px 40%;
	height: 11px;
	color: #3687c4;
	font-family: "Open Sans";
	font-size: 41px;
	font-weight: 400;
	line-height: 34px;
	margin-bottom: 0;
}

.header__icons {
	margin-right: 5%;
}

.icons__message {
	width: 227px;
	height: 61px;
	margin: 20px 0px 0px -8%;
}

.icons__phone {
	width: 28px;
	height: 29px;
	padding: 0 15px;
	border-right: 1px solid;
	border-color: #eceef4;
}

.icons__loc {
	width: 25px;
	height: 34px;
	padding: 0 15px;
	border-right: 1px solid;
	border-color: #eceef4;
}

.icons__env {
	width: 30px;
	height: 25px;
	padding: 0 15px;
}

.icons__text {
	height: 17px;
	color: #6d6e71;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 27px;
	z-index: 1;
	position: absolute;
	top: 15px;
}

icons__nowrap {
	flex-wrap: nowrap
}

.icons__phone:not(:hover),
.icons__loc:not(:hover),
.search__icon:not(:hover),
.icons__env:not(:hover) {
	filter: saturate(1%);
}

.header__line {
	margin: 0;
	border: none;
	background-color: #eceef4;
	height: 1px;
}

.header__panel {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0;
}

.panel__item {
	font: 14px 'Oswald', sans-serif;
	display: inline-block;
	padding: 20px 20px;
	margin: 0px;
	border-right: 1px solid;
	border-color: #eceef4;
}

.panel__item:hover {
	background: url(images/arrow.svg) bottom no-repeat;
}

.panel__link {
	text-decoration: none;
	width: 97px;
	height: 10px;
	color: #6d6e71;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 700;
	line-height: 27px;
}

.panel__link:hover {
	color: #1faae2;
}

.panel__menu {
	width: 100%;
	margin: 0 15% 0 15%;
	padding: 0;
}

.search__input {
	height: 30px;
	align-self: center;
	margin-top: 0px;
	border: none;
}

.header__search {
	margin-right: 7%;
}

.main {
	margin: 0;
	background: url(images/background.jpg) center;
	background-size: cover;
}

.main_content {
	padding: 15% 15% 10% 20%;
	position: relative;
}

.content__text {
	position: relative;
	margin: 0;
	color: #ffffff;
	font-family: "Open Sans";
	text-shadow: 1px 1px 8px rgba(1, 1, 1, 0.15);
}

.content__text__font-large {
	font-size: 58px;
	font-weight: 700;
}

.content__text__font-small {
	font-size: 45px;
	font-weight: 300;
}

.content__and {
	position: absolute;
	bottom: 35%;
}

.main__pictures {
	position: relative;
	left: 35%;
	display: flex;
	width: 15%;
	height: 241px;
}

.main__block__green {
	background: url(images/green-logo.jpg) center;
	background-size: 100%;
}

.main__block__orange {
	background: url(images/orange-logo.jpg) center;
	background-size: 100%;
}

.main__block-gray {
	background: url(images/gray-figure.jpg) center;
	background-size: 100%;
	min-width: 111px;
}

.main__figure {
	position: relative;
	opacity: 0.8;
	top: 74%;
}

.main__heart {
	position: relative;
	left: 45%;
	top: 55%;
}

.main__arrow {
	margin: 90% 45%;
}

.footer {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.footer__title {
	color: #6d6e71;
	font-family: "Open Sans";
	font-weight: 700;
	line-height: 24px;
	width: 50%;
	margin-left: 25%;
}

.footer__text {
	margin-left: 20%;
	color: #6d6e71;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	text-align: justify;
}

.footer__about {
	margin-left: 10%;
	flex: 0 1 35%;
}

.footer__img {
	position: absolute;
}

@media (max-width: 1140px) {
	.footer__about {
		flex: 0 1 80%;
	}
	.icons,
	.main__pictures {
		display: none;
	}
	.panel__navigation {
		position: relative;
		min-height: 40px;
		margin-left: 30px;
	}
	.panel__menu {
		width: 150px;
		padding: 5px 0;
		position: absolute;
		background: url(images/menu.svg) left no-repeat;
		height: 25px;
	}
	.panel__item {
		width: 150px;
		background-color: #fff;
		display: none;
	}
	.panel__link {
		display: block;
		text-align: left;
		width: 150px;
		background: none;
		color: #666;
	}
	.panel__item:hover {
		background: url(images/arrow.png) left no-repeat;
	}
	.panel__menu:hover li {
		display: block;
		background-color: #fff;
	}
}