.loader {
	animation: animate 1.5s linear infinite;
	clip: rect(0, 100px, 100px, 50px);
	border-radius: 50%;
	height: 100px;
	width: 100px;
	position: absolute;
}

@keyframes animate {
	0% {
		box-shadow: inset #D2691E 0 0 0 17px;
		transform: rotate(-140deg)
	}
	25% {
		box-shadow: inset #CD853F 0 0 0 12px;
	}
	50% {
		box-shadow: inset #CD853F 0 0 0 7px;
	}
	75% {
		box-shadow: inset #CD853F 0 0 0 12px;
	}
	100% {
		box-shadow: inset #F4A460 0 0 0 17px;
		transform: rotate(220deg)
	}
}

#jumping_ball {
    width: 100%;
	display: flex;
	justify-content: space-between;
    align-items: center;
	position: absolute;
	top: 150px;
	height: 300px;
}

#ball {
	position: relative;
	background: #A52A2A;
	border-radius: 100%;
	margin: 0;
	flex: 0 1 10%;
	height: 30%;
	animation: dws-bounce 1.5s linear infinite;
}

@keyframes dws-bounce {
	0% {
		right: 45%;
	}
	50% {
		right: -45%;
	}
	100% {
		right: 45%;
	}
}

#block1,
#block2 {
	margin: 0;
	height: 100%;
	width: 3%;
	background-color: #B8860B;
}

#animation {
	animation: animate3 10s linear infinite;
	height: 150px;
	width: 150px;
	position: absolute;
	top: 500px;
}

@keyframes animate3 {
	0% {
		border-radius: 90%;
		background: linear-gradient(45deg, #DC143C, #F08080);
	}
	17% {
		border-radius: 0;
		background: linear-gradient(45deg, #DC143C, #F08080);
	}
	33% {
		background: radial-gradient(#FF69B4, #9400D3);
	}
	50% {
		height: 50px;
		width: 50px;
		transform: skew(30deg);
		background: radial-gradient(#FF69B4, #9400D3);
	}
	67% {
		transform: rotate(-220deg);
		background: radial-gradient(#FF69B4, #9400D3);
	}
	84% {
		background: linear-gradient(90deg, #4169E1, #87CEEB);
	}
	100% {
		border-radius: 90%;
		background: linear-gradient(90deg, #4169E1, #87CEEB);
	}
}